*{
    background-color: #dcdcdc;
}
body{
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    color: red;
    border-bottom: 2px solid black;
}

h2{
    color: #F5F5F5;
    background-color: #7b68ee;
}

.texto_italico{
    font-family: italic;
    font-family: 'Times New Roman', Times, serif;

}
